* {
  padding: 0;
  margin: 0;
}

body {
  --TopBar-Height: 48px;
}

.button-reg {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  background: #ff6b00;
  color: #fff;
  border: none;
}

.button-reg:hover {
  background: #fff5e1;
  color: #f55800;
  padding: 11px;
  border: 1px solid #f55800;
}

.button-reg:active {
  background: #e05304;
  color: #f4f1f0;
}

.button-reg:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.TopBar {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  background: #3c3a39;
  height: var(--TopBar-Height);
  align-items: center;
  padding: 0 12px;
}

.Logo-Plceholder {
  display: flex;
  align-items: center;
  left: 12px;
  padding: 10px 12px;
}

.Logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #fff5e1;
}

.Burger-Menu {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  right: 24px;
}

.Burger-Menu button {
  border: none;
  background: none;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #1c1a19;
  height: 100vh;
  background-image: url(src/img/Illustration.png);
  background-repeat: no-repeat;
  background-position: right bottom -48px;
  padding-bottom: 12px;
}

@media only screen and (max-width: 318px) {
  .headline {
    height: auto;
  }
}

.headline-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: calc(120px + var(--TopBar-Height));
  padding-left: 24px;
  padding-right: 24px;
  color: #fff5e1;
}

.headline-content h1 {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
}

.headline-content h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-top: 12px;
}

.headline-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding-top: 12px;
}

.Social-media {
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
}

.Social-media li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 40px;
  width: 40px;
}

.Works {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  justify-content: center;
  margin: 120px 0;
}

.Works-header {
  display: flex;
  grid-column: 2/span 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  order: 0;
  border-bottom: 1px solid #212121;
  margin-bottom: 80px;
}

.Works-title {
  font-family: 'Crete round', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #1c1a19;
  margin: 24px 0;
}

.Works-Recent-Project {
  grid-area: 2/2/span 1/ span 1;
  font-family: 'Inter', sans-serif;
  color: #091e42;
}

.Works-Recent-Project img {
  margin-bottom: 12px;
  width: 100%;
  height: auto;
}

.Works-Recent-Project h1 {
  font-family: 'Crete round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
}

.Works-Recent-Project p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.Works-Card-Categories {
  list-style: none;
}

.Works-Card-Categories li {
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 10px 12px;
  border: 1px solid #091e42;
  float: left;
}

.Works-SeeProject button {
  margin-bottom: 12px;
}

.Works-Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: 3/2/span 1/span 1;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(src/img/Card-Background.png) no-repeat center;
  background-size: cover;
  min-height: 386px;
  margin: 12px 0;
}

.Works-Card-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: 4/2/span 1/span 1;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(src/img/Card-Background.png) no-repeat center;
  background-size: cover;
  min-height: 386px;
  margin: 12px 0;
}

.Works-Card-Content {
  margin: 22px 16px;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.Works-Card-Content h1 {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 12px;
}

.Works-Card-Content p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 12px;
}

.Works-Card-Content ul {
  margin: 0;
}

.Works-Card-Content ul li {
  font-weight: 500;
  font-size: 15px;
  border: none;
  background: rgba(255, 255, 255, 0.24);
}

.Works-Card-SeeProject {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.Works-Card-SeeProject button {
  width: 100%;
}

.About {
  color: #fff;
  background: #1c1a19;
  font-family: 'Inter', sans-serif;
}

.About-headline {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 24px;
  background-image: url(src/img/Frame.png);
  background-position: bottom 15% right;
  background-repeat: no-repeat;
}

.About-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  height: 30vh;
  color: #ff6b00;
  padding: 0 24px;
}

.About-headline p {
  margin: 12px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.About-headline button {
  margin-top: 12px;
  margin-bottom: 30vh;
}

.hr {
  margin-bottom: 5%;
  width: 100%;
  color: #fff;
}

.Categories {
  padding: 120px 0;
}

.Categories-all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.Categories-romb {
  list-style: url(src/img/Romb.png);
  list-style-position: inside;
}

.Categories-romb ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.Categories-square {
  list-style: url(src/img/Square.png);
  list-style-position: inside;
}

.Categories-square ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.Categories-sircle {
  list-style: url(src/img/Sircle.png);
  list-style-position: inside;
}

.Categories-sircle ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.Categories-iner {
  padding: 12px;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 25px;
}

.Form-text {
  margin: 0;
  width: 327px;
  float: left;
  margin-bottom: 58px;
}

.Form-text h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
}

.Form-form {
  width: 100%;
}

.Form-list {
  list-style: none;
  width: 100%;
}

.Form-input {
  border: none;
  border-bottom: 2px solid #d8d8d7;
  margin-bottom: 24px;
  width: calc(100% - 16px);
  padding: 15px 0;
  padding-left: 16px;
}

.Form-input::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

textarea[name="user_message"] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;
  color: #3c3a39;
  padding: 12px;
  width: calc(100% - 24px);
  height: 90px;
  border: none;
  background: #fbf8f7;
  margin-bottom: 24px;
  resize: vertical;
}

.Form-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Footer {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #dfe1e6;
  clear: both;
}

.Social-media#dark li {
  align-items: flex-end;
  height: max-content;
  padding: 0;
}
